/*/*global styling*/
/*html::-webkit-scrollbar { 
    display: none; 
}*/

body{
	/*color: #45425c;
	background-color: #45425c;
	font-family: 'Open Sans', sans-serif;*/
	 overflow-x: hidden;
	
}
p {
font-family: 'Inconsolata', monospace;
width: 90%;
text-align: center;
font-size: 20px;
padding-top: 5px;
font-family: 'Source Serif Pro', serif;


}
h1{
	/* background-color: #C8C4C4; */
	text-align: center;
	color: #3a4664;
	height: 50px;
	font-size: 30px;
	font-family: 'Inconsolata', monospace;
	padding-top: 15px;
	

}
h2{
	text-align: center;
	font-family: 'Inconsolata', monospace;
	font-size: 10px;
	color: #7A7474;
}

h3{
	text-align: center;
	font-family: 'Inconsolata', monospace;
}
/*main page styling ==============================*/

/*#home{
	display: flex;
	 width: 100%;
    height: 80vh;
    font-family: "Lato";
   	background-image: url(https://lh3.googleusercontent.com/e_t5vIIu5M-oW9AhJ8oCkjw4Z9LQkJec7PTdn7F77Rw8HZvrs9_ex-pz8fzRcuitkoqJhLQCYhlF2q1FdZNj6mVx6u7wUUEP518ayo3hGnGWDOxHTwAz0QMVleNYtdE8xjjEkRIxfg=w2400);
	/*background-size: 100%;*/
	/* background-position: center; 
	background-repeat: no-repeat;*/
/*  flex-direction: column;*/
  /* align-items: center;
  justify-content: center;*/
}


/*
#home .quote{
  display: flex;
  color: white;
  margin: 0;
}
*/

/*  footer{
margin-top:auto;
  }*/
/*nav styling===============================*/

.main-nav{
 width: 100%;
 height:100px;

/* background-color: #45425c;*/
/*border: 1px solid goldenrod;*/

}

.navbar-fixed{
	  top: 0;
    z-index: 100;
  position: fixed;
    width: 100%;	
}

.main-nav ul{
  display: flex;
  height: 40px;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 10px;
   background-color: #403B3B;
   height: 100px;

}


.main-nav li a{
color: #FCF9F9;

}
.main-nav li a:hover{
	text-decoration: none;
	/* color: #7A7474; */
	color: #ffdbdc;
}

.icon-home{

  flex:10 1;
}

.icon-home a{
 font-size: 40px;
 color: #eaa0a2;
 font-family: 'Pacifico', cursive;
}

.iconA {
  flex:2 1;
  font-size: 18px;
  font-family: 'Inconsolata', monospace;

}
.toggle{
  display: none;
}
/*
mobile resizing ==================================*/

@media all and (max-width:1000px){
	.main-nav{
		height: 40vh;
		background-color: #403B3B;
		 /* background-color: #eaa0a2; */
		 margin-bottom: 10px;

	}
	.main-nav ul{
		display: flex;
		flex-wrap:wrap;

	}
	.main-nav li{
		flex:1 2 50%;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.quote{
		padding-bottom: 20%;
	}
	/*#home{
		background-size: 600px 100%;
	}
	*/
}
/*mobile resizing*/
@media all and (max-width:750px){
.main-nav{
	text-align: center;
        display: flex;
        flex-direction: column;

        
}

.main-nav ul{
	display: none;
}

  .main-nav.open{
  	 height: 60vh;
		/* background-color: #eaa0a2; */
		background-color: #403B3B;
  }

  .main-nav ul.open{
  	display: flex;
  	 flex-wrap: wrap;

       /* width: 100%;
        height: 30vh;*/
}

.main-nav ul li{
	flex-basis: 100%;
	flex-grow: 1;
}
.toggle{
        display: block;
		color: #ffffff;
		font-family: 'Inconsolata', monospace;
        font-size: 35px;
		padding-top:30px;
		
    }

.toggle:hover{
	text-decoration:none;
	color: #eaa0a2;
}

#home{
  height: 100vh;
  width: 100%
	}
}

.quote{
		padding-bottom: 80%;
	}
#webDeveloper{
/* 	min-height: 800px; */
	min-height:1000px;
}
/*header styling*/
/*.header{
	background: #45425c;
	padding-top: 75px;
	position: fixed;
	height: 100%;
	width: 240px;
	color: #EEE7F1;
}
.header .social{
	padding-left: 50px;
}

.header .social a{
	padding-right: 5px;
}
.header .main-nav ul{
	list-style: none;

	
}


.header .main-nav li a{
 	font-family: 'Source Sans Pro', sans-serif;
 	color: white;
 	font-weight: 100;
 	font-size: 20px;

}

.header .main-nav li .personal{
	padding-right: 10px;
}

*/



/*#copyRight{
	color: #E5DEE8;
	font-size: 15px;
	padding-left: 50px;
	bottom: -200px;
	position: relative;
	
}*/


/*Main content section headers*/




/*home styling*/



/*main page styling ==============================*/
.lisa{
	font-family: 'Pacifico', cursive;
	color: mistyrose;
	/*font-weight: 50;*/
	font-size: 40px;

}

.quote{
	color: white;
	font-size: 25px;
	padding-left: 60%;
	padding-top: 30%; 
	font-family: 'Inconsolata', monospace;

}
#home{
    width: 100%;
    height: 100vh;
    font-family: "Lato";
   	background-image: url(https://lh3.googleusercontent.com/e_t5vIIu5M-oW9AhJ8oCkjw4Z9LQkJec7PTdn7F77Rw8HZvrs9_ex-pz8fzRcuitkoqJhLQCYhlF2q1FdZNj6mVx6u7wUUEP518ayo3hGnGWDOxHTwAz0QMVleNYtdE8xjjEkRIxfg=w2400);
	background-size: 100%;
	/* background-position: center; */
	background-repeat: no-repeat;
}


/*about styling======================================*/
#about{
	border: 20px solid #ffffff;
	
	/* background-color:#FFFDFD; */
	background-color: #FCF9F9; 
	/*background-color: 	#ffdbdc;
*/
}

/*Technology studying ================================*/

#technologies{
	border: 20px solid #ffffff;
	background-color: #FCF9F9;

}
#technologies ul{
	 list-style: none;
	 display: flex;
	 justify-content: space-around;
	 margin-left: 100px;
	 margin-right: 100px;
}
#technologies ul li{
	flex:1;
	padding-right:5px; 
	padding-left:5px;
	color: 	#aaaaaa;

}
#technologies ul li:hover{
color: 	#ffdbdc;
}


section{
	height: 100vh;
}
#webDeveloper{
	height: 190vh;
	border: 20px solid #ffffff;
	background-color: #FCF9F9;

}
/*Contact styling=====================================*/
#contact{
	height: 100vh;
	border: 20px solid #ffffff;
	background-color: #FCF9F9;

}

form{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/* width: 90%;
	padding: 10%; */
	align-items: center;
}

.in{
	border: 1px solid #7A7474;
	width: 90%;
	height: 30px;
	margin-bottom: 10px;
	/* rounded corners */
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;

}

textarea{

 border: 1px solid #7A7474;
 width: 90%;
 height: 30vh;
 margin-top: 40px;
 -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;

}

.btn{
	width: 40%;
	height: 50px;
	margin-top: 40px;
	background-color: #7A7474;
	color: #ffffff;
}

.btn:hover{
	background-color: #ffdbdc;
}



/*footer styling==================================*/

  footer{
  	width: 100%;
  	display: flex;
  	align-items: center;
	  background-color: #403B3B;
  	height: 10vh;
  }


footer div ul{
	list-style: none;
	display: flex;
	
}

footer div ul li{
	flex:1;

}

.copyRight{
	flex-basis: 50%;
	flex-grow: 1;
	flex-shrink: 100;
	color: #FCF9F9;
	/*color: #E9C9DB;*/
}

.social a{
 color: #FCF9F9;
 align-content: center;

}
.social a:hover{
	color: mistyrose;
}
 /* padding-top: 30%;*/ 
	 /*margin: 0 auto;
   // top: calc(50% - 60px);
   // position: relative;
    width: 500px;
*/


/**/
/*section{
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0 auto;
	padding-right: 100px;

}

section:nth-child(2n){
	background:#f7f7f7;
}*/

/*programming styling*/


/*container{
	margin-left: 370px;
	padding-left: 25px;
	color: #613ead;
}

.container .row div{
	padding-bottom: 50px;
	padding-left: 350px;

	}



section{
	height: 100vh;
}
#webDeveloper{
	height: 100%;
	border: 20px solid #ffffff;
	background-color: #FCF9F9;

}

/*Projects styling==================================*/
.glide-slides{
	display: grid;
	grid-auto-rows: 500px;
	/*grid-template-rows: repeat(300px);*/
	grid-template-columns: repeat(auto-fill, minmax(300px, auto));
	grid-gap: 10px;

}
img{
	padding-top: 10px;
	justify-self:center;
	height: 200px;
	width: 300px;
}
.item{
	display: grid;
	justify-content: center;
		border: 10px solid mistyrose;
		-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 5px;

	/*grid-template-columns: 1fr 1fr;
	 justify-items: center;
     align-items: center;*/
}
.item h3{
	color: #696969;
}
.item p{
	font-size: 20px;
	color: #D3D3D3;
	text-align: center;
}
.link{
	display: flex;
	justify-content: center;
}
.link button{
	width: 55px;
	height: 30px;
	margin-left: 10px;
	
		background-color: #7A7474;
	
}
.link button a{
color: #ffffff;
}
.link button:hover{
	background-color: #ffdbdc; 
}
.link button a:hover{
		text-decoration-line: none;
color: #ffffff;
}
